# Masukan API ID ambil di web my.telegram.org
API_ID = "26689028"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "34d0c2bd1992f199a8b8f9d5e01d5feb"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "1BVtsOGoBu5xrQBnKiLmjyGmmp2fpXq5hDYDBvydAVbF5h6eOci290cyXR2YWW0V9eVeVRt6rsSP-_F35s3NfrRgb5v04n-ofDnkfkaU34_fwx7zW5vtwH4LJz_1q371wkdOUnM1Bu39bmFhmRxhjY1Ea-_9jKnIsWB6ghSm2XXw3eGkPMgNLH3KvIyC1HcyqWVlPWDOwF_U1fv-EWvtx480fyba5mNB-mCP5lfB-NgknbQcE3lkPq9G2WRt5uFbogwZLWEpjCZZdJt80HH9NyLft4-XobwpOyzxid55OC5PWoi83V2Iig-XUFsKmKo3GOLFTWz150Gb7jh6IakF8XdC_viQFFeg="

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = 0 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = ""
