# Masukan API ID ambil di web my.telegram.org
API_ID = "624821011"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "bc0d32d5fc5d5137420284c2176600ed"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "BQD2K-4Aab6gm3EftkbE5sjvOEXVzYaYevaitxjGuneLWEcNQj5NLO1OIR15KyrrdOPS4bjRVihoRxaFJw3UcaambnDb7qo7WiKThICQgRN-k4A5o30Rl3Zlc1p_tddE6k701FzCft8sHxjtGrCav90eR_KuIk3FASMu0Dqm3TCWciPJ6wnBFBWpJWlDjZ8NSVYhV_-CWZB_QMs9oAo-uZWTDN0VLSSmJ8pyqCvPwxh6MAlZd_KitWIcUw2SoRHLCdw2lSgxECwSr7ghyhRo6eBbN1sn9necpmOoWyGHIFLOX9kByXaO7A2HxZU7pHcEUnswmKq5bDqITkXNfqMOuzGH6NrtFwAAAAB1R72AAA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = 0 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = ""
